.about-hero {
  background-image: url('/mountain-video-black.jpg');
  background-repeat: no-repeat;
  background-position: center center; /* CENTRA la imagen */
  background-size: cover;             /* Ajusta sin deformar */
  
  color: #fff;
  text-align: center;

  min-height: 100vh;   /* 👈 controla qué tan largo es */
  padding: 120px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.about-hero h1 { 
  font-size: 42px;
  margin: 0;
  margin-top: 20px;
}

.about-content h1 {
  color: #000; /* negro */
}

.about-content {
  padding: 60px 300px 100px;
}

.about-content .container {
  max-width: 1100px;
  margin: 0 auto;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #333;
}


@media (max-width: 600px){

  .about-hero h1 { 
  font-size: 28px;
}

  .about-content {
  padding: 60px 20px;
}

.about-content p {
  font-size: 12px;
}

.dos h1{
  font-size: 18px;
}
}