<div class="footer-container">
  <!-- NEWS SECTION -->
  <section class="footer-news">
    <div class="footer-news__content">
      
      <article class="footer-news__item">
        <div class="footer-news__date">— 2022-02-25</div>
        <h5>
          <a href=#>
            {{ 'FOOTER.NEWS_1' | translate }}
          </a>
        </h5>
      </article>

      <article class="footer-news__item">
        <div class="footer-news__date">— 2020-10-19</div>
        <h5>
          <a href=#>
            {{ 'FOOTER.NEWS_2' | translate }}
          </a>
        </h5>
      </article>

      <article class="footer-news__item">
        <div class="footer-news__date">— 2020-10-19</div>
        <h5>
          <a href=#>
            {{ 'FOOTER.NEWS_3' | translate }}
          </a>
        </h5>
      </article>

    </div>
  </section>

  <footer class="footer">
    <!-- Contenido del footer se mantiene igual -->
    <div class="footer__content">
      <!-- IZQUIERDA -->
      <div class="footer__left">
        <nav class="footer__menu">
          <div class="footer__menu-row">
            <a href="/about-this-website/">{{ 'FOOTER.ABOUT_WEBSITE' | translate }}</a>
            <span class="separator">|</span>
            <a href="/cookies/">{{ 'FOOTER.COOKIES' | translate }}</a>
            <span class="separator">|</span>
            <a href="/legal-notice/">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
          </div>
          <div class="footer__menu-row footer__privacy-row">
            <a href="/data-privacy/">{{ 'FOOTER.DATA_PRIVACY' | translate }}</a>
          </div>
        </nav>

        <div class="footer__copyright">
          {{ 'FOOTER.COPYRIGHT' | translate: { year: currentYear } }}
        </div>
      </div>

      <!-- CENTRO -->
      <div class="footer__center">
        <img src="/logo-blanco.png" alt="Terelion Logo" class="footer__logo" />
      </div>

      <!-- DERECHA -->
      <div class="footer__right">
        <div class="footer__contact">
          <p>
            {{ 'FOOTER.CALL_US' }}
            <a href="tel:+14692944196"> 932 377 785</a>
          </p>
          <p>
            {{ 'FOOTER.EMAIL_US' }}
            <a href="mailto:info@terelion.com">{{ 'FOOTER.EMAIL_ADDRESS' | translate }}</a>
          </p>
        </div>

        <ul class="footer__socials">
          <li>
            <a href="https://www.facebook.com/share/1BzmQ64ZW3/" aria-label="Facebook">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/jf-tricon-per%C3%BA" aria-label="LinkedIn">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/terelion.mining/" aria-label="Instagram">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>