<!-- SECCIÓN NAVBAR PRINCIPAL -->
<nav class="navbar" [class.nav-active]="showProductos || menuOpen" [class.nav-product-page]="isProductPage">
  
  <!-- SECCIÓN IZQUIERDA DEL NAVBAR (HAMBURGUESA Y ENLACES) -->
  <div class="nav-left">
    <button class="hamburger-btn" (click)="toggleMenu()" [class.active]="menuOpen" aria-label="Menu">
<svg width="28" height="18" viewBox="0 0 28 18">
  <!-- Línea superior -->
  <rect x="6" y="0" width="16" height="2" fill="white" />
  <!-- Línea central (más larga) -->
  <rect x="6" y="8" width="24" height="2" fill="white" />
  <!-- Línea inferior -->
  <rect x="6" y="16" width="16" height="2" fill="white" />
</svg>
    </button> 

    <!-- SECCIÓN LISTA DE ENLACES DE NAVEGACIÓN -->
    <ul class="nav-links" [class.mobile-menu-open]="menuOpen">

      <li>
        <a href="#" (click)="toggleProductos($event)" [class.active-link]="showProductos" class="accordion-header">
          {{ 'NAV.PRODUCTS' | translate }}
          <span class="accordion-toggle" *ngIf="isMobileView">{{ showProductos ? '−' : '+' }}</span>
        </a>
        
        <!-- ACORDEÓN VERTICAL DE PRODUCTOS (SOLO MÓVIL) -->
        <div class="accordion-productos" *ngIf="showProductos && isMobileView">
          <!-- ROLLER CONE BITS -->
          <div class="accordion-section">
            
            <a routerLink="/productos/general"><h4 class="accordion-title">{{ 'NAV_MENU.ROLLERCONE' | translate }}</h4></a>
            <ul class="accordion-links">
              <li><a routerLink="/productos">{{ 'NAV_MENU.RIDGEBACK' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.AVENGER' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.DFORCE' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.TARGET' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.PILOTHOLE' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.REVERSECIRCULATION' | translate }}</a></li>
            </ul>
          </div>

          <!-- RPS -->
          <div class="accordion-section">
            <h4 class="accordion-title">{{ 'NAV_MENU.RPS' | translate }}</h4>
            <ul class="accordion-links">
              <li><a href="#">{{ 'NAV_MENU.RPS_GEN3' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.RPS_GEN2' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.RPS_BITS' | translate }}</a></li>
            </ul>
          </div>

          <!-- DOWN THE HOLE -->
          <div class="accordion-section">
            <h4 class="accordion-title">{{ 'NAV_MENU.DOWNTHEHOLE' | translate }}</h4>
            <ul class="accordion-links">
              <li><a href="#">{{ 'NAV_MENU.WARRIOR_HAMMERS' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.WARRIOR_BITS' | translate }}</a></li>
            </ul>
          </div>

          <!-- TECHNOLOGY -->
          <div class="accordion-section">
            <h4 class="accordion-title">{{ 'NAV_MENU.TECHNOLOGY' | translate }}</h4>
            <ul class="accordion-links">
              <li><a href="#">{{ 'NAV_MENU.ADVANCED_MODELING' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.RCPRO' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.METALLURGY' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.FIELDSERVICE' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.SEALTEST' | translate }}</a></li>
            </ul>
          </div>
        </div>
      </li>
      
      <li class="about-us-menu">
        <a href="#" (click)="toggleAbout($event)" [class.active-link]="showAbout" class="accordion-header">
          {{ 'NAV.ABOUT' | translate }}
          <span class="accordion-toggle" *ngIf="isMobileView">{{ showAbout ? '−' : '+' }}</span>
        </a>

        <!-- ACORDEÓN VERTICAL DE ACERCA DE (SOLO MÓVIL) -->
        <div class="accordion-about" *ngIf="showAbout && isMobileView">
          <div class="accordion-section">
            <ul class="accordion-links">
              <li><a href="#">{{ 'NAV_MENU.ABOUTUS' | translate }}</a></li>
              <li><a href="#">{{ 'NAV_MENU.OURHISTORY' | translate }}</a></li>
            </ul>
          </div>
        </div>
      </li>

      <li>
  <a
    routerLink="/contactos"
    (click)="closeMenus()"
  >
    {{ 'NAV.CONTACT' | translate }}
  </a>
</li>


    <!-- SECCIÓN CONTENIDO DE FONDO PARA MENÚ MÓVIL -->
    <div class="back" *ngIf="menuOpen">
      <div class="back-content">
        <div class="text">
          <p>Menu</p>
        </div> 
  
        <button class="close-btn" (click)="toggleMenu()" aria-label="Cerrar menú">
          ✕
        </button>
      </div>
    </div>


      <!-- SECCIÓN RESPONSIVA (REDES SOCIALES E IDIOMAS - SOLO PARA PANTALLAS PEQUEÑAS) -->
       <div class="respons">
  <li>{{ 'NAV.FOLLOWUS' | translate }}</li>

  <div class="social-lang-row">
    <!-- REDES SOCIALES -->
    <div class="icons-redes">
      <a href="https://www.facebook.com/share/1BzmQ64ZW3/" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/company/jf-tricon-per%C3%BA/" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/terelion.mining/" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
    </div>

    <!-- SELECTOR DE IDIOMAS SIMPLIFICADO -->
    <div class="language-selector-simple">
  <p *ngFor="let lang of languages">
    <span
      class="lang"
      [class.active]="currentLang === lang.code"
      (click)="selectLanguage(lang.code)"
    >
      {{ lang.label }}
    </span>
  </p>
</div>

  </div>
</div>

    </ul>
  </div>

  <!-- SECCIÓN CENTRAL DEL NAVBAR (LOGO) -->
  <div class="nav-center">
    <!-- Logo blanco para otras páginas -->
    <div class="logo" *ngIf="!isProductPage && !isMobileView">
        <img src="/logo-blanco.png" alt="Terelion Logo" class="logo" />
    </div>

    <!-- Logo verde para páginas de productos -->
    <div class="logo-green" *ngIf="isProductPage && !isMobileView">
    <div class="logo-pag">
        <img src="/logo-negro.png" alt="Terelion Logo" class="logo" />
    </div>
  </div>
  </div>

  <!-- SECCIÓN DERECHA DEL NAVBAR (IDIOMAS Y BÚSQUEDA) -->
  <div class="nav-right">
<!-- SELECTOR DE IDIOMAS (NO SE MUESTRA EN MÓVIL CON MENÚ ABIERTO) -->
<div class="right-item language-selector" *ngIf="!isMobileView">

  <button
    class="language-btn"
    (click)="toggleLangDropdown()"
    aria-label="Language selector"
  >
 <span class="label-text">
  {{ currentLanguageLabel }}
</span>


    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1.5">
      <circle cx="12" cy="12" r="10"></circle>
      <path d="M2 12h20M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
    </svg>
  </button>

  <!-- DROPDOWN -->
  <div class="language-dropdown" *ngIf="langDropdownOpen">
    <button
      *ngFor="let lang of languages"
      (click)="selectLanguage(lang.code)"
      [class.active]="currentLang === lang.code"
    >
      {{ lang.label }}
    </button>
  </div>

</div>


  <!-- BOTÓN DE BÚSQUEDA -->
<div class="nav-right">
  <div class="right-item search-trigger" (click)="toggleSearch()">

    <!-- INPUT A LA IZQUIERDA -->
    <input
      type="text"
      class="search-input"
      [placeholder]="'NAV.SEARCH' | translate"
      *ngIf="!isMobileView || searchOpen"
    />

    <!-- LUPA A LA DERECHA -->
    <svg width="24" height="24" viewBox="0 0 24 24"
      fill="none" stroke="white" stroke-width="2">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>

  </div>
</div>


<!-- Solo para móvil -->
<div class="search-overlay" [class.active]="searchOpen">
  <div class="search-container-inner">
    
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>    
    <input 
      type="text" 
      class="search-input-field" 
      [placeholder]="'NAV.SEARCH' | translate"
      autofocus 
    />

    <button class="close-search-btn" (click)="toggleSearch()">
      <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="square">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    
  </div>
</div>





</div>
</nav>

<!-- SECCIÓN MEGA MENÚ DE PRODUCTOS -->
<div class="mega-menu-wrapper"   [class.show]="showProductos"
  (mouseleave)="cerrarMegaMenu()">
  <div class="container">
    
    <!-- ENCABEZADO DEL MENÚ DE PRODUCTOS -->
    <div class="menu-header">
      <h2>{{ 'NAV_MENU.PRODUCTS' | translate }}</h2>
    </div>

    <!-- LAYOUT EN GRID PARA CATEGORÍAS DE PRODUCTOS -->
    <div class="grid-layout">
      
      <!-- COLUMNA 1: ROLLER CONE BITS -->
      <div class="column">
        <a routerLink="/productos/general" (click)="cerrarMenusAlNavegar()"><h3 class="col-title">{{ 'NAV_MENU.ROLLERCONE' | translate }}</h3></a>
        <ul class="link-list">
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.RIDGEBACK' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.AVENGER' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.DFORCE' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.TARGET' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.PILOTHOLE' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.REVERSECIRCULATION' | translate }}</a></li>
        </ul>
      </div>

      <!-- COLUMNA 2: RPS -->
      <div class="column">
        <h3 class="col-title">{{ 'NAV_MENU.RPS' | translate }}</h3>
        <ul class="link-list">
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.RPS_GEN3' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.RPS_GEN2' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.RPS_BITS' | translate }}</a></li>
        </ul>
      </div>

      <!-- COLUMNA 3: DOWN THE HOLE -->
      <div class="column">
        <h3 class="col-title">{{ 'NAV_MENU.DOWNTHEHOLE' | translate }}</h3>
        <ul class="link-list">
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.WARRIOR_HAMMERS' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.WARRIOR_BITS' | translate }}</a></li>
        </ul>
      </div>
    

    <!-- ENCABEZADO DE TECNOLOGÍA -->
    <div class="column">
      <h3 class="col-title">{{ 'NAV_MENU.TECHNOLOGY' | translate }}</h3>
        <ul class="link-list">
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.ADVANCED_MODELING' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.RCPRO' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.METALLURGY' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.FIELDSERVICE' | translate }}</a></li>
          <li><a routerLink="/productos" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.SEALTEST' | translate }}</a></li>
        </ul>
    </div>
</div>
  </div>
</div>


<!-- SECCIÓN MEGA MENÚ ABOUT US -->
<div class="mega-menu-wrapper" [class.show]="showAbout"
(mouseleave)="cerrarMegaAbout()">
  <div class="container">

    <div class="grid-layout">
      <div class="column">
        <ul class="link-list">
          <li><a routerLink="/acerca-de" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.ABOUTUS' | translate }}</a></li>
          <li><a routerLink="/his" (click)="cerrarMenusAlNavegar()">{{ 'NAV_MENU.OURHISTORY' | translate }}</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
